/*button {
    height: 30px;
    width: 30px;
    outline: none;
  }*/
.longer {
	margin-top: 5px;
}
.section {
	padding-top: 2px !important;
	margin-top: 2px !important;
}
.padderul{
	margin-left: 6px;
	margin-right: 6px;
	border:2px dotted #00f;display:block;background:#ff0000;
}
.byed:hover{
	color:white !important;
}
.cyano {
	background-color: #0097a7 !important;
}
.zre9 {
	background-color: #42a5f5 !important;
}
input {
	border-radius: 11px !important;
	width: 75% !important;
}
.hs {
	font-size: 17px !important;
	opacity: 0.6 !important;
}
.tasking {
	border-bottom: 1px !important;

}
.tasking:focus {
	border-color: red !important;
}
#clickr {
	height: 100%;
	width: 25%;
}

#dashJump:hover {
	color: white !important;
}

/*   CSS des boutons et de la barre de progression	*/
.containLoad {
	background-color: white;
	width: 300px;
	border:2px solid grey;
	border-radius: 11px;
	margin: 2px;
}


.txtInp{
	border-radius: 11px !important;
	transition:0.3s !important;
	opacity: 0.6 !important;

}
.txtInp:hover {
	opacity: 1 !important;
	-webkit-transition-delay:0.3s;


}

#cloadulation {
	width: 100%;
	background-color: white;
	border:1px;
	border-radius: 11px;

}
#loadulation {
	width: 1%;
	height: 6px;
	background-color: #42a5f5;
	border-radius: 11px;
	border:1px;
}
.pascouleur {
	background-color: white;
	border-radius: 11px;
}
/******* To do List ********/

button:hover {
  color: #42a5f5 !important;
}
/* Heading */
h3,
label[for='new-task'] {
  color: #333 !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  border-bottom: 1px solid #333 !important;
  padding: 1px 0 10px !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  opacity: 0.6 !important;
}
input[type="text"] {
  margin: 0 !important;
  font-size: 18px !important;
  line-height: 18px !important;
  height: 18px !important;
  width: 30% !important;
  padding: 10px !important;
  border: 1px solid #42a5f5 !important;
  border-radius: 6px !important;
  font-family: Lato, sans-serif;
  color: #888 !important;
}
input[type="text"]:focus {
  color: grey !important;
}

/* New Task */
label[for='new-task'] {
  display: block !important;
  margin: 0 0 10px !important;
}
input#new-task {
  float: left !important;
  width: 70% !important;
}
p > button:hover {
  color: #42a5f5 !important;
}

/* Task list */
li {
  overflow: hidden !important;
  padding: 20px 0 !important;
  border-bottom: 1px solid #eee !important;
}
li > input[type="checkbox"] {
  margin: 0 10px !important;
  position: relative !important;
  top: 15px !important;
}
li > label {
  font-size: 18px !important;
  line-height: 40px !important;
  width: 237px !important;
  padding: 0 0 0 11px !important;
}
li >  input[type="text"] {
  width: 226px !important;
}
li > .delete:hover {
  color: white !important;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through !important;
  color: #888 !important;
}

/* Edit Task */
ul li input[type=text] {
  display:none !important;
}

ul li.editMode input[type=text] {
  display:block !important;
}

ul li.editMode label {
  display:none !important;
}
	
/**************************/
border:2px dotted #00f;display:block;background:#ff0000;