button {
    height: 30px;
    width: 30px;
    outline: none;
  }
#clickr {
	height: 100%;
	width: 25%;
}


/*   CSS des boutons et de la barre de progression	*/
.containLoad {
	background-color: white;
	width: 300px;
	border:2px solid grey;
	border-radius: 11px;
	margin: 2px;
}


.txtInp{
	background-color: #F5FBEF;
	border-radius: 11px;
	transition:0.3s;
	opacity: 0.6;

}
.txtInp:hover {
	opacity: 1;
	-webkit-transition-delay:0.3s;
	background-color: #eceff1;

}

#cloadulation {
	width: 100%;
	background-color: white;
	border-radius: 11px;

}
#loadulation {
	width: 1%;
	height: 3px;
	background-color: #5893C1;
	border-radius: 11px;
}
.pascouleur {
	background-color: white;
	border-radius: 11px;
}
/**************************/